<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Category Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="{{ asset('FrontOffice/site.webmanifest') }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('FrontOffice/assets/img/favicon.ico') }}">

        <!-- CSS here -->
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/slicknav.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/flaticon.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/fontawesome-all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/nice-select.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/design.css') }}">
    </head>










    <body>
        <!-- Preloader Start -->
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="preloader-circle"></div>
                    <div class="preloader-img pere-text">
                        <img src="{{ asset('FrontOffice/assets/img/logo/loder.jpg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Preloader End -->
        <header>
            <!-- Header Start -->
            <div class="header-area header-transparent">
                <div class="main-header">
                    <div class="header-bottom header-sticky">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <!-- Logo -->
                                <div class="col-xl-2 col-lg-2 col-md-1">
                                    <div class="logo">
                                        <a href="{{ asset('FrontOffice/index.html.twig') }}"><img src="{{ asset('FrontOffice/assets/img/logo/logo.png') }}" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-xl-10 col-lg-10 col-md-8">
                                    <!-- Main-menu -->
                                    <div class="main-menu f-right d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="{{ asset('FrontOffice/index.html.twig') }}">Home</a></li>
                                                <li><a href="{{ asset('FrontOffice/about.html.twig') }}">About</a></li>
                                                <li><a href="{{ asset('FrontOffice/hopital.html.twig') }}">Categories</a></li>
                                                <li><a href="{{ asset('FrontOffice/market.html.twig') }}">market</a></li>
                                                <li><a href="{{ asset('FrontOffice/#') }}">Page</a>
                                                    <ul class="submenu">
                                                        <li><a href="{{ asset('FrontOffice/blog.html.twig') }}">Blog</a></li>
                                                        <li><a href="{{ asset('FrontOffice/blog_details.html.twig') }}">Blog Details</a></li>
                                                        <li><a href="{{ asset('FrontOffice/elements.html.twig') }}">Element</a></li>
                                                        <li><a href="{{ asset('FrontOffice/listing_details.html.twig') }}">Listing details</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{{ asset('FrontOffice/contact.html.twig') }}">Contact</a></li>
                                                <li class="add-list"><a href="{{ asset('FrontOffice/listing_details.html.twig') }}"><i class="ti-plus"></i> Add Listing</a></li>
                                                <li class="login"><a href="{{ asset('FrontOffice/#') }}">
                                                        <i class="ti-user"></i> Sign in or Register</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <!-- Mobile Menu -->
                                <div class="col-12">
                                    <div class="mobile_menu d-block d-lg-none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->
        </header>
        <main>

 
 
 
 
 
 
 
 <!-- Hero Start-->
        <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Choisissez votre médecin</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Hero End -->




















{% block body %}
    <h1>Médecins du service {{ service.nomService }}</h1>

    <div class="row">
        {% if medecins is defined and medecins is not empty %}
            {% for medecin in medecins %}
    <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
        <div class="single-cat text-center mb-50 shadow-lg p-4 rounded-3">
            <!-- Image du médecin -->
            <div class="cat-img mb-3">
                <img src="{{ asset('FrontOffice/assets/img/medecins/' ~ medecin.idMedecin ~ '.jpg') }}" alt="Image du médecin" class="img-fluid rounded-circle">
            </div>

            <!-- Informations du médecin -->
            <div class="cat-cap">
                <h5>{{ medecin.nomM }} {{ medecin.prenomM }}</h5>
                <p>Spécialité : {{ medecin.specialite }}</p>
                <p>Contact : {{ medecin.contact }}</p>

                <!-- Bouton "Rendez-vous" animé -->
                <a href="{{ path('rendezvous_new', {'idMedecin': medecin.idMedecin}) }}" class="btn btn-primary mt-3 rendez-vous-btn">Prendre un rendez-vous</a>
            </div> <!-- fin de cat-cap -->
        </div> <!-- fin de single-cat -->
    </div> <!-- fin de colonne -->
{% endfor %}

        {% else %}
            <p>Aucun médecin disponible pour ce service.</p>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    
{% endblock %}















 <footer>
        <!-- Footer Start-->
        <div class="footer-area">
            <div class="container">
               <div class="footer-top footer-padding">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo">
                                        <a href="{{ path('home') }}"><img src="{{ asset('FrontOffice/assets/img/logo/logo2_footer.png') }}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick Link</h4>
                                    <ul>
                                        <li><a href="{{ path('home') }}">Home</a></li>
                                        <li><a href="{{ path('market') }}">market</a></li>
                                        <li><a href="{{ path('about') }}">About</a></li>
                                        <li><a href="{{ path('contact') }}">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Categories</h4>
                                    <ul>
                                        <li><a href="{{ path('hopital', {'type': 'hotel'}) }}">Reasonable Hotel</a></li>
                                        <li><a href="{{ path('hopital', {'type': 'restaurant'}) }}">Popular Restaurant</a></li>
                                        <li><a href="{{ path('hopital', {'type': 'shopping'}) }}">Easy Shopping</a></li>
                                        <li><a href="{{ path('hopital', {'type': 'night_life'}) }}">Night Life</a></li>     
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Download App</h4>
                                    <ul>
                                        <li class="app-log"><a href="{{ path('download_app', {'platform': 'android'}) }}"><img src="{{ asset('FrontOffice/assets/img/gallery/app-logo.png') }}" alt=""></a></li>
                                        <li><a href="{{ path('download_app', {'platform': 'ios'}) }}"><img src="{{ asset('FrontOffice/assets/img/gallery/app-logo2.png') }}" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="{{ path('social', {'platform': 'facebook'}) }}"><i class="fab fa-facebook-f"></i></a>
                                <a href="{{ path('social', {'platform': 'twitter'}) }}"><i class="fab fa-twitter"></i></a>
                                <a href="{{ path('social', {'platform': 'website'}) }}"><i class="fas fa-globe"></i></a>
                                <a href="{{ path('social', {'platform': 'instagram'}) }}"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="{{ path('back_to_top') }}"> <i class="fas fa-level-up-alt"></i></a>
    </div>


    <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{{ asset('FrontOffice/assets/js/vendor/modernizr-3.5.0.min.js') }}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{{ asset('FrontOffice/assets/js/vendor/jquery-1.12.4.min.js') }}"></script>
        <script src="{{ asset('FrontOffice/assets/js/popper.min.js') }}"></script>
        <script src="{{ asset('FrontOffice/assets/js/bootstrap.min.js') }}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{{ asset('FrontOffice/assets/js/jquery.slicknav.min.js') }}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{{ asset('FrontOffice/assets/js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('FrontOffice/assets/js/slick.min.js') }}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{{ asset('FrontOffice/assets/js/wow.min.js') }}"></script>
		<script src="{{ asset('FrontOffice/assets/js/animated.headline.js') }}"></script>
        <script src="{{ asset('FrontOffice/assets/js/jquery.magnific-popup.js') }}"></script>

		<!-- Nice-select, sticky -->
        <script src="{{ asset('FrontOffice/assets/js/jquery.nice-select.min.js') }}"></script>
		<script src="{{ asset('FrontOffice/assets/js/jquery.sticky.js') }}"></script>
        
        <!-- contact js -->
        <script src="{{ asset('FrontOffice/assets/js/contact.js') }}"></script>
        <script src="{{ asset('FrontOffice/assets/js/jquery.form.js') }}"></script>
        <script src="{{ asset('FrontOffice/assets/js/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('FrontOffice/assets/js/mail-script.js') }}"></script>
        <script src="{{ asset('FrontOffice/assets/js/jquery.ajaxchimp.min.js') }}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{{ asset('FrontOffice/assets/js/plugins.js') }}"></script>
        <script src="{{ asset('FrontOffice/assets/js/main.js') }}"></script>
        
    </body>
</html>