<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{{ asset('BackOffice/assets/') }}"
  data-template="vertical-menu-template-free"
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<head>
  <meta charset="utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
  />

  <title>Mdintech-Admin</title>

  <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('BackOffice/assets/img/favicon/favicon.ico') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('BackOffice/assets/img/favicon/favicon.ico') }}" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet"
  />

    <!-- Icons -->
    <link rel="stylesheet" href="{{ asset('BackOffice/assets/vendor/fonts/boxicons.css') }}" />
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{{ asset('BackOffice/assets/vendor/fonts/boxicons.css') }}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ asset('BackOffice/assets/vendor/css/core.css') }}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ asset('BackOffice/assets/vendor/css/theme-default.css') }}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ asset('BackOffice/assets/css/demo.css') }}" />
    <link rel="stylesheet" href="{{ asset('BackOffice/assets/vendor/css/core.css') }}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ asset('BackOffice/assets/vendor/css/theme-default.css') }}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ asset('BackOffice/assets/css/demo.css') }}" />
    <link rel="stylesheet" href="{{ asset('BackOffice/assets/css/map3d.css') }}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{{ asset('BackOffice/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />
    <link rel="stylesheet" href="{{ asset('BackOffice/assets/vendor/libs/apex-charts/apex-charts.css') }}" />
    <link rel="stylesheet" href="{{ asset('BackOffice/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />

    <link rel="stylesheet" href="{{ asset('BackOffice/assets/vendor/libs/apex-charts/apex-charts.css') }}" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{{ asset('BackOffice/assets/vendor/js/helpers.js') }}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{{ asset('BackOffice/assets/js/config.js') }}"></script>
    <script src="{{ asset('BackOffice/assets/vendor/js/helpers.js') }}"></script>
    <script src="{{ asset('BackOffice/assets/js/config.js') }}"></script>
    <script>
    window.gestions = [
      { name: 'Rendez-vous', url: '{{ path('backoffice_rendezvous_list') }}', position: [-10, 0, 0] },
      { name: 'Médecins', url: '{{ path('backoffice_medecin_list') }}', position: [0, 0, 0] },
      { name: 'Services Hospitaliers', url: '{{ path('backoffice_service_list') }}', position: [10, 0, 0] },
      { name: 'Trajets', url: '{{ path('app_admin_trips_index') }}', position: [-10, 0, -10] },
      { name: 'Réservations', url: '{{ path('app_admin_reservations_index') }}', position: [0, 0, -10] },
      { name: 'Produits', url: '{{ path('products_page') }}', position: [10, 0, -10] },
      { name: 'Commandes', url: '{{ path('orders_page') }}', position: [-10, 0, 10] },
      { name: 'Blog', url: '{{ path('blog_page') }}', position: [10, 0, 10] }
    ];
    </script>
  </head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
    {% include 'BackOffice/partials/menu.html.twig' %}
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->

      <nav
              class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
              id="layout-navbar"
      >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
          <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
          </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
          <!-- Search -->
          <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
              <i class="bx bx-search fs-4 lh-0"></i>
              <input
                      type="text"
                      class="form-control border-0 shadow-none"
                      placeholder="Search..."
                      aria-label="Search..."
              />
            </div>
          </div>
          <!-- /Search -->

          <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- Place this tag where you want the button to render. -->
            <li class="nav-item lh-1 me-3">
              <a
                      class="github-button"
                      href="https://github.com/themeselection/sneat-html-admin-template-free"
                      data-icon="octicon-star"
                      data-size="large"
                      data-show-count="true"
                      aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
              >Star</a>
            </li>

            {% include 'BackOffice/partials/user_dropdown.html.twig' %}

          </ul>
        </div>
      </nav>

      <!-- / Navbar -->
  <!-- Content wrapper -->
        <div class="content-wrapper">
          <div class="container-xxl flex-grow-1 container-p-y">
            <!-- 3D Map Container -->
            <div id="map3d-title" style="position:absolute;top:90px;right:380px;left:auto;transform:none;z-index:20;font-size:2.5rem;font-weight:bold;color:#1976d2;text-shadow:0 2px 8px #fff,0 1px 0 #e3e3e3;letter-spacing:2px;pointer-events:none;">
              Bienvenue à Mdintech
            </div>
            <div id="map3d-wrapper" style="width:100%;height:520px;position:relative;margin-top:40px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.08);border-radius:18px;background:#f8fafc;display:flex;align-items:center;justify-content:center;">
              <div id="map3d" style="width:100%;height:320px;position:relative;"></div>
            </div>
            {#
            <div class="row g-4 justify-content-center">
              <!-- Rendez-vous Card -->
              <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Rendez-vous</h5>
                    <p class="card-text">Gérez les rendez-vous des patients ici.</p>
                    <a href="{{ path('backoffice_rendezvous_list') }}" class="btn btn-primary mt-auto">Voir les Rendez‑vous</a>
                  </div>
                </div>
              </div>

              <!-- Médecins Card -->
              <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Médecins</h5>
                    <p class="card-text">Consultez et gérez les médecins de l’hôpital.</p>
                    <a href="{{ path('backoffice_medecin_list') }}" class="btn btn-primary mt-auto">Voir les Médecins</a>
                  </div>
                </div>
              </div>

              <!-- Services hospitaliers Card -->
              <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Services</h5>
                    <p class="card-text">Liste des services disponibles dans l’établissement.</p>
                    <a href="{{ path('backoffice_service_list') }}" class="btn btn-primary mt-auto">Voir les Services</a>
                  </div>
                </div>
              </div>

              <!-- Trajets Card -->
              <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Trajets</h5>
                    <p class="card-text">Gérez les trajets ici.</p>
                    <a href="{{ path('app_admin_trips_index') }}" class="btn btn-primary mt-auto">Voir les Trajets</a>
                  </div>
                </div>
              </div>

              <!-- Réservations Card -->
              <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Réservations</h5>
                    <p class="card-text">Gérez les réservations ici.</p>
                    <a href="{{ path('app_admin_reservations_index') }}" class="btn btn-primary mt-auto">Voir les Réservations</a>
                  </div>
                </div>
              </div>

              <!-- Produits Card -->
              <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Produits</h5>
                    <p class="card-text">Ajoutez, modifiez ou supprimez des produits.</p>
                    <a href="{{ path('products_page') }}" class="btn btn-primary mt-auto">Voir les Produits</a>
                  </div>
                </div>
              </div>

              <!-- Commandes Card -->
              <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Commandes</h5>
                    <p class="card-text">Suivez et gérez les commandes clients.</p>
                    <a href="{{ path('orders_page') }}" class="btn btn-primary mt-auto">Voir les Commandes</a>
                  </div>
                </div>
              </div>

              <!-- Blog Card -->
              <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100 text-center">
                  <div class="card-body d-flex flex-column">
                    <div class="mb-3"><i class="bx bx-news bx-lg text-success"></i></div>
                    <h5 class="card-title">Blog</h5>
                    <p class="card-text">gérez des articles de blog.</p>
                    <a href="{{ path('blog_page') }}" class="btn btn-success mt-auto">Accéder au Blog</a>
                  </div>
                </div>
              </div>
            </div>
            #}
          </div>
        </div>
      </div>
    </div>
  </div>
           
        <!-- / Footer -->

        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>



    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{{ asset('BackOffice/assets/vendor/libs/jquery/jquery.js') }}"></script>
    <script src="{{ asset('BackOffice/assets/vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ asset('BackOffice/assets/vendor/js/bootstrap.js') }}"></script>
    <script src="{{ asset('BackOffice/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <script src="{{ asset('BackOffice/assets/vendor/js/menu.js') }}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{{ asset('BackOffice/assets/vendor/libs/apex-charts/apexcharts.js') }}"></script>

    <!-- Main JS -->
    <script src="{{ asset('BackOffice/assets/js/main.js') }}"></script>

    <!-- Page JS -->
    <script src="{{ asset('BackOffice/assets/js/dashboards-analytics.js') }}"></script>

    <!-- Three.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/three@0.155.0/build/three.min.js"></script>
    <!-- 3D Map Logic -->
    <script src="{{ asset('js/backoffice-map3d.js') }}"></script>

</body>
</html>