<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Example Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('BackOffice/assets/img/favicon.ico') }}">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('BackOffice/assets/css/style.css') }}">
</head>

<body>
    <!-- Header -->
    <header>
        <nav>
            <ul>
                <li><a href="{{ asset('BackOffice/dashboard.html.twig') }}">Dashboard</a></li>
                <li><a href="{{ asset('BackOffice/settings.html.twig') }}">Settings</a></li>
                <li><a href="{{ asset('BackOffice/profile.html.twig') }}">Profile</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        <h1>Welcome to the Example Page</h1>
        <p>This is a sample page for demonstration purposes.</p>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2023 Example Company. All rights reserved.</p>
    </footer>
</body>
</html>