{% extends 'base.html.twig' %}

{% block title %}Ajouter un trajet{% endblock %}

{% block body %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Admin / Trajets /</span> Nouveau trajet
    </h4>

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Créer un nouveau trajet</h5>
            <a href="{{ path('app_admin_trips_index') }}" class="btn btn-secondary">
                <i class="bx bx-arrow-back me-1"></i> Retour
            </a>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form_row(form.departure) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.destination) }}
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form_row(form.departureTime) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.arrivalTime) }}
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form_row(form.capacity) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.price) }}
                    </div>
                </div>
                
                {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}