{% extends 'FrontOffice/base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow">
                    <div class="card-body p-4">
                        <h1 class="h3 mb-4 text-center">Login</h1>

                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% endfor %}

                        {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_row(form.email, {
                                'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(form.email) }}

                        </div>

                        <div class="mb-3">
                            {{ form_row(form.password, {
                                'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(form.password) }}

                        </div>

                        <div class="d-grid gap-2 text-center">
                            <button type="submit" class="btn btn-primary">LOGIN</button>
                        </div>
                        {{ form_end(form) }}


                        <a href="{{ path('connect_google_start') }}" class="btn btn-danger w-100 mb-3">
                            <i class="fab fa-google"></i> Login with Google
                        </a>

                        <a href="{{ path('app_user_new') }}" class="btn btn-danger w-100 mb-3">
                            <i class="fab fa-google"></i>New user
                        </a>


                        {#                        <h2>Two-Factor Authentication</h2>#}
{#                        <form action="{{ path('2fa_login_check') }}" method="post">#}
{#                            <input type="text" name="_auth_code" autocomplete="off" placeholder="Authentication Code">#}
{#                            <button type="submit">Verify</button>#}
{#                        </form>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}