{% extends 'FrontOffice/base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow">
                    <div class="card-body p-4">
                        <h1 class="h3 mb-4 text-center">Login</h1>

                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% endfor %}

                        {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_row(form.email, {
                                'attr': {'class': 'form-control'}
                            }) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.password, {
                                'attr': {'class': 'form-control'}
                            }) }}
                        </div>

                        <div class="d-grid gap-2 text-center">
                            <button type="submit" class="btn btn-primary">LOGIN</button>
                        </div>
                        {{ form_end(form) }}
                        <div class="d-grid gap-2 text-center mt-5">
                            <button type="submit" class="btn btn-primary"><a href="{{ path('app_user_new') }}"><i class="ti-pencil"></i> Register</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}